body{
    background-color:FBFOE8;
    
}

.menu{
height:fit-content;
font-family:sans-serif;
font-size: 15px;
display: flex;
flex-direction: column;
align-items: center;
margin: 20px;
background:#5AB9EA;
position: fixed;


}
li{

list-style: none;
display:none;
text-align: center;
text-transform: uppercase;
padding-top: 20px;
padding: 20px;
position: fixed;



}

a{
text-decoration: none;
align-items: center;
color: white;
}



li.pointer{
cursor: pointer;
}

li:hover{

text-decoration: underline;

}
.navbar{
float: right;
cursor: pointer;
}
.close{
display: none;
}

.box{
display: none;
}

#box:checked ~ ul.menu li{
display: block;
}

h4{
    font-family:'Lucida Sans';
    padding-left: 40px;
    font-size: 40px;
    color:black;
}




.anime{
animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    


@media only screen and(min-width:560px){
    .nav{

        &bar{
        display: none;
        background-color: #5AB9EA;
        
        
        
        
    }

   
}
}
@media only screen and(min-width:560px){
    .menu{
        flex-direction: row;
        display: flex;
        background-color: #5AB9EA;
        
       


        li{
            display: block;
            background-color: #5AB9EA;
    
        }
    }

   
}
